<!DOCTYPE html>
<html>
<head>
    <title>HELLO WORLD</title>
    <script src="/javascript/adduser.js"></script>
</head>
<body>
    <h1>Create A User</h1>
    <div class="adduser_form">
    <form id="adduser" action="/adduser" method="post">
      <input id="username" type="text" placeholder="Username" name="username">
      <input id="email" type="text" placeholder="e-mail" name="email">
      <input id="password" type="text" placeholder="Password" name="psw">
      <input type="submit" value="Submit" />
    </form>
  </div>
</body>
</html>